<% include ./partials/header %>

<% result.forEach((item) => { %>
  <div class="my-item">
    <ul>
      <li>id: <%= item.id %></li>
      <li>name1: <%= item.name1 %></li>
      <li>name2: <%= item.name2 %></li>
    </ul>
    <a href="/<%=item.id%>/edit"><button class='btn btn-success'>Edit</button></a>
    <form action="/<%=item.id%>?_method=DELETE" method="post">
      <button class='btn btn-danger'>Delete</button>
    </form>
  </div>
<% }); %>

<% include ./partials/footer %>